{% extends 'index/base.html' %}
{% block content %}
<h5>You lost!</h5>
<br>
<strong>Total wins:{{fighter.wins}}</strong>
{% if messages %}
<ul>
   {% for message in messages %}
	   <li>{{ message }}</li>
   {% endfor %}
      {% if form != False %}
         <form method="POST">
            {% csrf_token %}
            <legend>Please enter a name to display your record.</legend>
            {{ form.as_p }}
            <input type="submit" name="fighter" value="Submit">
         </form>
      {% endif %}
</ul>
{% endif %}

{% endblock %}